.weather__form{
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

@keyframes load {
    0% {
        border-bottom: .2rem solid black;
    }

    25%{
        border-bottom: .2rem solid rgb(101, 101, 101);
    }

    50%{
        border-bottom: .2rem solid rgb(193, 193, 193);
    }

    75%{
        border-bottom: .2rem solid rgb(101, 101, 101);
    }

    100% {
        border-bottom: .2rem solid black;
    }
}
.weather__input{
    -webkit-appearance: none;

    border: none;
    border-bottom: .2rem solid black;
    border-radius: 0;
    outline: none;

    height: 4rem;
    width: 85%;
    min-width: 2rem;

    font-size: 3rem;
    transition: .2s ease-in-out;
}
.weather__input::placeholder {
    color: black;
    opacity: 0.3;
}
.input-load{
     animation: load 1s ease-in-out infinite;
 }
.weather__btn{
    -webkit-appearance: none;

    display: inline-block;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(70% - 1.5rem);
    z-index: -1;
    height: 3rem;
    width: 3rem;
    outline: none;
    border: .1rem solid black;
    background-color: #fff;
    cursor: pointer;

    transition: .3s ease;
}

.weather__btn img {
    margin: auto;
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 360px){
    .weather__input{
       font-size: 2.2rem;
       margin-right: 2.5rem;
    }
}

