.weather__form{
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 1;
    align-items: center;
}

@keyframes load {
    0% {
        border-bottom: .2rem solid black;
    }

    25%{
        border-bottom: .2rem solid rgb(101, 101, 101);
    }

    50%{
        border-bottom: .2rem solid rgb(193, 193, 193);
    }

    75%{
        border-bottom: .2rem solid rgb(101, 101, 101);
    }

    100% {
        border-bottom: .2rem solid black;
    }
}
.weather__input{
    border: none;
    border-bottom: .2rem solid black;
    outline: none;

    height: 4rem;
    min-width: 2rem;

    margin-right: 1rem;
    font-size: 3rem;
    transition: .2s ease-in-out;
}
.weather__input::placeholder {
    color: black;
    opacity: 0.3;
}
.input-load{
        animation: load 1s ease-in-out infinite;
 }
.weather__btn{
    display: inline-block;
    height: 3rem;
    width: 3rem;
    outline: none;
    border: .1rem solid black;
    background-color: #fff;
    cursor: pointer;
}

.weather__btn img {
    margin: auto;
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 360px){
    .weather__form{
        justify-content: center;
    }
    .weather__input{
       width: 90%;
       font-size: 2.2rem;
       margin-right: 2.5rem;
    }
    .weather__btn{
        margin: 0
    }
}